deployment/stepfunctions/statemachines/billing.json
{
  "Comment": "The Billing State Machine",
  "StartAt": "Bill",
  "States": {
    "Bill": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-bill",
      "Next": "Is Success?",
      "InputPath": "$",
      "ResultPath": "$.status",
      "Retry" : [
          {
            "ErrorEquals": [ "State.ALL" ],
            "IntervalSeconds": 300,
            "MaxAttempts": 5,
            "BackoffRate": 2
          }
      ]
    },
    "Is Success?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "DECLINE",
          "Next": "Trigger Recovery"
        },
        {
          "Variable": "$.status",
          "StringEquals": "HARDDECLINE",
          "Next": "To Hard Declined"
        }
      ],
      "Default":"Trigger Pre-Fulfillment"
    },
    "Trigger Pre-Fulfillment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-triggerprefulfillment",
      "End": true,
      "InputPath": "$",
      "ResultPath": "$.status",
      "Retry" : [
          {
            "ErrorEquals": [ "State.ALL" ],
            "IntervalSeconds": 3,
            "MaxAttempts": 5,
            "BackoffRate": 5
          }
      ]
    },
    "Trigger Recovery": {
      "Type": "Task",
      "Next":"Recovery Triggered",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-triggerrecovery",
      "InputPath": "$",
      "ResultPath": "$.status",
      "Retry" : [
        {
          "ErrorEquals": [ "State.ALL" ],
          "IntervalSeconds": 3,
          "MaxAttempts": 5,
          "BackoffRate": 5
        }
      ]
    },
    "Recovery Triggered": {
      "Type":"Succeed"
    },
    "To Hard Declined":{
      "Type":"Parallel",
      "Next":"Hard Decline Failure",
      "Branches":[
        {
          "StartAt":"Report Hard Decline Pass",
          "States":{
            "Report Hard Decline Pass":{
              "Type":"Pass",
              "Result":{
                "state":"Billing",
                "step":"Hard Decline",
                "message":"Billing Hard Declined"
              },
              "ResultPath":"$.reporting",
              "Next":"Report Hard Decline"
            },
            "Report Hard Decline":{
              "Type":"Task",
              "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-report",
              "End":true
            }
          }
        },
        {
          "StartAt":"Hard Declined",
          "States":{
            "Hard Declined": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-cleanupdecline",
              "ResultPath": "$.status",
              "End":true,
              "Retry" : [
                  {
                    "ErrorEquals": [ "State.ALL" ],
                    "IntervalSeconds": 3,
                    "MaxAttempts": 5,
                    "BackoffRate": 5
                  }
              ]
            }
          }
        }
      ]
    },
    "Hard Decline Failure": {
      "Type": "Fail",
      "Cause": "Hard decline issued by the recover task",
      "Error": "Recovery returned Hard Decline"
    }
  }
}
