deployment/stepfunctions/statemachines/createrebills.json
{
  "Comment": "The Create Rebill state machine creates the next rebill for a session UUID",
  "StartAt": "Get Session Complete",
  "States": {
    "Get Session Complete":{
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-getsessioncomplete",
      "Next": "Is Complete?",
      "InputPath": "$",
      "ResultPath": "$.status",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 5,
          "BackoffRate": 5
        }
      ]
    },
    "Is Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "COMPLETE",
          "Next": "Session Completed"
        }
      ],
      "Default": "Create Rebill"
    },
    "Create Rebill": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-createrebill",
      "Next": "Rebill Created?",
      "InputPath": "$",
      "ResultPath": "$.status",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 5,
          "BackoffRate": 5
        }
      ]
    },
    "Rebill Created?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "COMPLETE",
          "Next": "Complete Session"
        }
      ],
      "Default": "Rebill Created"
    },
    "Rebill Created":{
      "Type":"Succeed",
      "End": true
    },
    "Complete Session": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-completesession",
      "Next": "Session Completed",
      "InputPath": "$",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "Session Completed": {
      "Type": "Succeed"
    }
  }
}
