deployment/stepfunctions/statemachines/createrebill.json
{
  "Comment": "The Create Rebill state machine creates the next rebill for a session UUID",
  "StartAt": "Get Session Status",
  "States": {
    "Get Session Status":{
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-getsessionstatus",
      "Next": "Is Available?",
      "ResultPath": "$.status",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 5,
          "BackoffRate": 5
        }
      ]
    },
    "Is Available?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "CONCLUDED",
          "Next": "Session Concluded"
        },
        {
          "Variable": "$.status",
          "StringEquals": "OPEN",
          "Next": "Session Open"
        },
        {
          "Variable": "$.status",
          "StringEquals": "CANCELLED",
          "Next": "Session Cancelled"
        }
      ],
      "Default": "Create Rebill"
    },
    "Session Open":{
      "Type":"Succeed"
    },
    "Session Cancelled":{
      "Type":"Succeed"
    },
    "Create Rebill": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-createrebill",
      "Next": "Was Rebill Created?",
      "ResultPath": "$.status",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 5,
          "BackoffRate": 5
        }
      ]
    },
    "Was Rebill Created?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "CONCLUDED",
          "Next": "Conclude Session"
        }
      ],
      "Default": "Rebill Created"
    },
    "Rebill Created":{
      "Type":"Succeed"
    },
    "Conclude Session": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-concludesession",
      "End":true,
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "Session Concluded":{
      "Type":"Succeed"
    }
  }
}
