deployment/stepfunctions/statemachines/fulfillment.json
{
  "Comment": "The Fulfillment State Machine.  Note that this State Machine operates against a Rebill.",
  "StartAt": "Notify Fulfillment Providers",
  "States": {
    "Notify Fulfillment Providers": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-notifyfulfillmentproviders",
      "Next": "Successfully Triggered?",
      "InputPath": "$",
      "ResultPath": "$.status",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 60,
          "MaxAttempts": 5,
          "BackoffRate": 5
        }
      ]
    },
    "Successfully Triggered?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "SUCCESS",
          "Next": "Trigger Post-Fulfillment"
        }
      ],
      "Default": "Notify Fulfillment Providers Failure"
    },
    "Notify Fulfillment Providers Failure": {
      "Type": "Fail",
      "Cause": "The Terminal Controller returned a non-success, non-error response code.",
      "Error": "Terminal Controller returned a non-success, non-error response code."
    },
    "Trigger Post-Fulfillment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-triggerpostfulfillment",
      "End":true,
      "InputPath": "$",
      "ResultPath": "$.status",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 60,
          "MaxAttempts": 5,
          "BackoffRate": 5
        }
      ]
    }
  }
}
