deployment/stepfunctions/statemachines/prefulfillment.json
{
  "Comment": "The Pre-Fulfillment State Machine",
  "StartAt": "Get Fulfillment Required",
  "States": {
    "Get Fulfillment Required":{
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-getfulfillmentrequired",
      "Next": "Is Fulfillment Required?",
      "ResultPath": "$.status",
      "Retry" : [
          {
            "ErrorEquals": [ "State.ALL" ],
            "IntervalSeconds": 3,
            "MaxAttempts": 5,
            "BackoffRate": 5
          }
      ]
    },
    "Is Fulfillment Required?":{
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "NOSHIP",
          "Next": "No Fulfillment Required"
        },
		{
		  "Variable": "$.status",
		  "StringEquals": "ERROR",
		  "Next": "Not All Transactions Successful"
		}
      ],
      "Default": "Trigger Fulfillment"
    },
    "Trigger Fulfillment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-triggerfulfillment",
      "End": true,
      "ResultPath": "$.status",
      "Retry" : [
          {
            "ErrorEquals": [ "State.ALL" ],
            "IntervalSeconds": 3,
            "MaxAttempts": 5,
            "BackoffRate": 5
          }
      ]
    },
    "No Fulfillment Required":{
      "Type":"Succeed"
    },
	"Not All Transactions Successful":{
      "Type":"Fail"
    }
  }
}
