deployment/stepfunctions/statemachines/prefulfillment.json
{
  "Comment": "The Pre-Fulfillment State Machine",
  "StartAt": "Overmap State Machine Name",
  "States": {
    "Overmap State Machine Name":{
      "Type":"Pass",
      "Result":"Prefulfillment",
      "ResultPath":"$.stateMachineName",
      "Next":"Get Fulfillment Required"
    },
    "Get Fulfillment Required":{
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-getfulfillmentrequired",
      "Next": "Is Fulfillment Required?",
      "ResultPath": "$.status",
      "Retry" : [
          {
            "ErrorEquals": [ "State.ALL" ],
            "IntervalSeconds": 3,
            "MaxAttempts": 5,
            "BackoffRate": 5
          }
      ]
    },
    "Is Fulfillment Required?":{
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "NOSHIP",
          "Next": "Report No Fulfillment"
        }
      ],
      "Default": "Trigger Fulfillment"
    },
    "Trigger Fulfillment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-triggerfulfillment",
      "End": true,
      "ResultPath": "$.status",
      "Retry" : [
          {
            "ErrorEquals": [ "State.ALL" ],
            "IntervalSeconds": 3,
            "MaxAttempts": 5,
            "BackoffRate": 5
          }
      ]
    },
    "Report No Fulfillment":{
      "Type":"Pass",
      "Result":{
        "state":"Prefulfillment",
        "step":"No Fulfillment Required",
        "message":"No Fulfillment Required."
      },
      "ResultPath":"$.reporting",
      "Next":"Report"
    },
    "Report":{
      "Type":"Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-report",
      "Next":"No Fulfillment Required"
    },
    "No Fulfillment Required":{
      "Type":"Succeed"
    }
  }
}
