deployment/stepfunctions/statemachines/recovery.json
{
  "Comment": "The Recovery State Machine",
  "StartAt": "Get Recovery Date",
  "States": {
    "Get Recovery Date": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-getrecoverdate",
      "Next": "Wait For Recovery Date",
      "InputPath": "$",
      "ResultPath": "$.recoverdate",
      "Retry" : [
          {
            "ErrorEquals": [ "State.ALL" ],
            "IntervalSeconds": 3,
            "MaxAttempts": 5,
            "BackoffRate": 5
          }
      ]
    },
    "Wait For Recovery Date": {
      "Type": "Wait",
      "TimestampPath": "$.recoverdate",
      "Next": "Recover"
    },
    "Recover": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-bill",
      "Next": "Trigger Pre-Fulfillment",
      "InputPath": "$",
      "ResultPath": "$.status",
      "Catch": [
        {
          "ErrorEquals": ["Declined"],
          "Next": "Recover Declined"
        },
        {
          "ErrorEquals": ["Hard Decline"],
          "Next": "Hard Declined"
        }
      ],
      "Retry" : [
          {
            "ErrorEquals": [ "State.ALL" ],
            "IntervalSeconds": 3,
            "MaxAttempts": 5,
            "BackoffRate": 5
          }
      ]
    },
    "Trigger Pre-Fulfillment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-triggerprefullfillment",
      "End": true,
      "InputPath": "$",
      "ResultPath": "$.status",
      "Retry" : [
          {
            "ErrorEquals": [ "State.ALL" ],
            "IntervalSeconds": 3,
            "MaxAttempts": 5,
            "BackoffRate": 5
          }
      ]
    },
    "Hard Declined": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-cleanupdecline",
      "InputPath": "$",
      "ResultPath": "$.status",
      "Next":"Hard Decline Failure",
      "Retry" : [
          {
            "ErrorEquals": [ "State.ALL" ],
            "IntervalSeconds": 3,
            "MaxAttempts": 5,
            "BackoffRate": 5
          }
      ]
    },
    "Recover Declined": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-cleanupdecline",
      "InputPath": "$",
      "ResultPath": "$.status",
      "Next":"Decline Failure",
      "Retry" : [
          {
            "ErrorEquals": [ "State.ALL" ],
            "IntervalSeconds": 3,
            "MaxAttempts": 5,
            "BackoffRate": 5
          }
      ]
    },
    "Hard Decline Failure": {
      "Type": "Fail",
      "Cause": "Hard decline issued by the recover task",
      "Error": "Recovery returned Hard Decline"
    },
    "Decline Failure": {
      "Type": "Fail",
      "Cause": "AWS Batch Job Failed",
      "Error": "Trigger Fulfillment returned FAILED"
    }
  }
}
