deployment/stepfunctions/statemachines/recovery.json
{
  "Comment": "The Recovery State Machine",
  "StartAt": "Get Recovery Date",
  "States": {
    "Get Recovery Date": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-getrecoverdate",
      "Next": "Wait For Recovery Date",
      "InputPath": "$",
      "ResultPath": "$.recoverdate",
      "Retry" : [
          {
            "ErrorEquals": [ "State.ALL" ],
            "IntervalSeconds": 2,
            "MaxAttempts": 5,
            "BackoffRate": 5
          }
      ]
    },
    "Wait For Recovery Date": {
      "Type": "Wait",
      "TimestampPath": "$.recoverdate",
      "Next": "Recover"
    },
    "Recover": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-recover",
      "Next": "Is Success?",
      "InputPath": "$",
      "ResultPath": "$.status",
      "Retry" : [
          {
            "ErrorEquals": [ "State.ALL" ],
            "IntervalSeconds": 3,
            "MaxAttempts": 5,
            "BackoffRate": 5
          }
      ]
    },
    "Is Success?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "DECLINE",
          "Next": "To Recover Decline"
        },
        {
          "Variable": "$.status",
          "StringEquals": "HARDDECLINE",
          "Next": "To Hard Decline"
        }
      ],
      "Default":"To Fulfillment"
    },
    "To Fulfillment":{
      "Type":"Parallel",
      "End":true,
      "Branches":[
        {
          "StartAt":"Report Pass",
          "States":{
            "Report Pass":{
              "Type":"Pass",
              "Result":{
                "state":"Recovery",
                "step":"Recover",
                "message":"Recover Successful"
              },
              "ResultPath":"$.reporting",
              "Next":"Report"
            },
            "Report":{
              "Type":"Task",
              "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-report",
              "End":true
            }
          }
        },
        {
          "StartAt":"Trigger Pre-Fulfillment",
          "States":{
            "Trigger Pre-Fulfillment": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-triggerprefullfillment",
              "End": true,
              "InputPath": "$",
              "ResultPath": "$.status",
              "Retry" : [
                  {
                    "ErrorEquals": [ "State.ALL" ],
                    "IntervalSeconds": 3,
                    "MaxAttempts": 5,
                    "BackoffRate": 5
                  }
              ]
            }
          }
        }
      ]
    },
    "To Hard Decline":{
      "Type":"Parallel",
      "Next":"Hard Decline Failure",
      "Branches":[
        {
          "StartAt":"Report Hard Decline Pass",
          "States":{
            "Report Hard Decline Pass":{
              "Type":"Pass",
              "Result":{
                "state":"Recovery",
                "step":"Hard Decline",
                "message":"Recover Hard Declined"
              },
              "ResultPath":"$.reporting",
              "Next":"Report Hard Decline"
            },
            "Report Hard Decline":{
              "Type":"Task",
              "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-report",
              "End":true
            }
          }
        },
        {
          "StartAt":"Hard Declined",
          "States":{
            "Hard Declined": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-cleanupdecline",
              "ResultPath": "$.status",
              "End":true,
              "Retry" : [
                  {
                    "ErrorEquals": [ "State.ALL" ],
                    "IntervalSeconds": 3,
                    "MaxAttempts": 5,
                    "BackoffRate": 5
                  }
              ]
            }
          }
        }
      ]
    },
    "Hard Decline Failure": {
      "Type": "Fail",
      "Cause": "Hard decline issued by the recover task",
      "Error": "Recovery returned Hard Decline"
    },
    "To Recover Decline":{
      "Type":"Parallel",
      "Next":"Decline Failure",
      "Branches":[
        {
          "StartAt":"Report Recover Decline Pass",
          "States":{
            "Report Recover Decline Pass":{
              "Type":"Pass",
              "Result":{
                "state":"Recovery",
                "step":"Recover Decline",
                "message":"Recover Declined"
              },
              "ResultPath":"$.reporting",
              "Next":"Report Recover Decline"
            },
            "Report Recover Decline":{
              "Type":"Task",
              "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-report",
              "End":true
            }
          }
        },
        {
          "StartAt":"Recover Declined",
          "States":{
            "Recover Declined": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-cleanupdecline",
              "ResultPath": "$.status",
              "End":true,
              "Retry" : [
                  {
                    "ErrorEquals": [ "State.ALL" ],
                    "IntervalSeconds": 3,
                    "MaxAttempts": 5,
                    "BackoffRate": 5
                  }
              ]
            }
          }
        }
      ]
    },
    "Decline Failure": {
      "Type": "Fail",
      "Cause": "AWS Batch Job Failed",
      "Error": "Trigger Fulfillment returned FAILED"
    }
  }
}
