packages/sixcrm/deployment/stepfunctions/statemachines/recovery.json
{
  "Comment": "The Recovery State Machine",
  "StartAt": "Get Recovery Date",
  "States": {
    "Get Recovery Date": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-getrecoverdate",
      "Next": "Wait For Recovery Date",
      "ResultPath": "$.recoverdate",
      "Retry" : [
          {
            "ErrorEquals": [ "States.ALL" ],
            "IntervalSeconds": 2,
            "MaxAttempts": 5,
            "BackoffRate": 5
          }
      ]
    },
    "Wait For Recovery Date": {
      "Type": "Wait",
      "TimestampPath": "$.recoverdate",
      "Next": "Bill"
    },
    "Bill": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-bill",
      "Next": "Is Success?",
      "ResultPath": "$.status",
      "Retry" : [
          {
            "ErrorEquals": [ "States.ALL" ],
            "IntervalSeconds": 3,
            "MaxAttempts": 5,
            "BackoffRate": 5
          }
			],
			"Catch": [
				{
					"ErrorEquals": ["States.ALL"],
					"Next": "Billing Failed"
				}
			]
    },
    "Is Success?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "DECLINE",
          "Next": "Billing Failed"
        },
        {
          "Variable": "$.status",
          "StringEquals": "HARDDECLINE",
          "Next": "Billing Failed"
        }
      ],
      "Default":"Successfully Billed"
    },
    "Successfully Billed":{
      "Type":"Parallel",
      "End":true,
      "Branches":[
        {
          "StartAt":"Trigger Pre-Fulfillment",
          "States":{
            "Trigger Pre-Fulfillment": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-triggerprefulfillment",
              "End": true,
              "ResultPath": "$.status",
              "Retry" : [
                  {
                    "ErrorEquals": [ "States.ALL" ],
                    "IntervalSeconds": 3,
                    "MaxAttempts": 5,
                    "BackoffRate": 5
                  }
              ]
            }
          }
        },
        {
          "StartAt":"Get Rebill Session",
          "States":{
            "Get Rebill Session":{
              "Type": "Task",
              "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-getrebillsession",
              "Next": "Trigger Create Rebill",
              "ResultPath": "$.guid",
              "Retry" : [
                  {
                    "ErrorEquals": [ "States.ALL" ],
                    "IntervalSeconds": 3,
                    "MaxAttempts": 5,
                    "BackoffRate": 5
                  }
              ]
            },
            "Trigger Create Rebill": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-triggercreaterebill",
              "End": true,
              "ResultPath": "$.status",
              "Retry" : [
                  {
                    "ErrorEquals": [ "States.ALL" ],
                    "IntervalSeconds": 3,
                    "MaxAttempts": 5,
                    "BackoffRate": 5
                  }
              ]
            }
          }
        }
      ]
    },
		"Billing Failed": {
      "Type": "Task",
			"Resource": "arn:aws:lambda:{{aws_region}}:{{aws_account_id}}:function:sixcrm-{{stage}}-billingfailure",
			"InputPath": "$.guid",
      "ResultPath": null,
      "End": true
    }
  }
}
